<div class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat p-12 text-center" [ngStyle]="{'background-image': 'url(assets/images/img.png)'}">
  <div class="container mx-auto px-10 py-20 rounded-lg">
    <div class="max-w-3xl mx-auto text-center">
      <h1 class="text-5xl font-bold mb-6 text-white">Welcome to Marq'D</h1>
      <p class="text-xl mb-8 text-white">This is your application homepage.</p>
      <div class="space-x-4">
        <button
          routerLink="/dashboard"
          class="bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition-colors">
          Go to Dashboard
        </button>
      </div>
    </div>
  </div>
</div>
